<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineElectionControl</title>
    <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>
   
    <header>
        @*  header
         Logged in?
         @OnlineElectionControl.Classes.Current.UserIsLoggedIn
         @if (OnlineElectionControl.Classes.Current.UserIsLoggedIn)
         {
             @OnlineElectionControl.Classes.Current.LoggedInUserId
             <form id="Nav_LogoutForm" asp-controller="Home" asp-action="Logout" method="post" style="display:none;">
             </form>
             <a href="javascript:void(0);" onclick="document.getElementById('Nav_LogoutForm').submit();">Logout</a>
         }
         *@
         @if (TempData["Vml"] != null) foreach (var message in (string[]) TempData["Vml"])
         {
             <p>@message</p>
         } 
 
    </header>
   
    <div id="nav-main-div">

        
         <nav>

             <div id="nav-links">

                 <div id="login-arrow-group">
                    <a href="#" id="login-icon"><img src="~/svg-icons/user-icon.svg" alt="login icon" id="login-svg" /></a>
                    <a href="#" id="arrow-icon"><img src="~/svg-icons/arrow-right-icon.svg" alt="arrow icon" id="arrow-svg" /></a>
                 </div>

                <a href="#"><img src="~/svg-icons/voting-icon.svg" alt="vote icon" id="voting-svg" /></a>
                <a href="#"><img src="~/svg-icons/calendar-icon.svg" alt="elections icon" id="elections-svg" /></a>
                <a href="#"><img src="~/svg-icons/graph-icon.svg" alt="results icon" id="results-svg" /></a>
                <a href="#"><img src="~/svg-icons/party-icon.svg" alt="parties icon" id="parties-svg" /></a>

                <a href="#" id="logout-icon"><img src="~/svg-icons/quit-icon.svg" alt="logout icon" id="logout-svg" /></a>
                
            </div>

         </nav>
  

        <main>
            @RenderBody()
        </main>

    </div>

    <div id="footer-div">
    <footer>
            Copyright 2024  -  <a href="https://www.rijksoverheid.nl/" target="_blank" id="copyright-link">Rijksoverheid</a>
    </footer>
    </div>
</body>
</html>
