<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineElectionControl</title>
    <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>
    <header>
        header
        Logged in?
        @OnlineElectionControl.Classes.Current.UserIsLoggedIn
        @if (OnlineElectionControl.Classes.Current.UserIsLoggedIn)
        {
            @OnlineElectionControl.Classes.Current.LoggedInUserId
            <form id="Nav_LogoutForm" asp-controller="Home" asp-action="Logout" method="post" style="display:none;"></form>
            <a href="javascript:void(0);" onclick="document.getElementById('Nav_LogoutForm').submit();">Logout</a>
        }

        @if (TempData["Vml"] != null) foreach (var message in (string[]) TempData["Vml"])
        {
            <p>@message</p>
        }
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
        footer
    </footer>
</body>
</html>
