@model ResultModel;
@using OnlineElectionControl.Classes;
@{
    ViewData["Title"] = "Result";
}

<h1>Resultaten</h1>
<h2>@Model.Election.Name - @Model.Election.Date.ToString("dd-MM-yyyy")</h2>

<ul>
    @foreach (var result in Model.VotesPerPartyPerMember)
    {
        <h1>@result.Key</h1>
            @foreach(var votes in result.Value)
            {
                <li>
                @votes.Key.FirstName @votes.Key.LastName - @votes.Value.Count Votes
                </li >
           }
    }
</ul>
<br /><br /><br />brrr<br />
<ul>
    @foreach (var result in Model.VotesPerCityPerParty)
    {
        <h1>@result.Key</h1>
        @foreach (var votes in result.Value)
        {
            <li>
                @votes.Key.Name - @votes.Value.Count Votes
            </li>
        }
    }
</ul>