@{
    ViewData["Title"] = "Registration";
}

<div id="register-main">
    <div id="register-form-box">

        <h1>Registreren</h1>

        <div id="login-link">
            Heeft u een account?
            <a asp-controller="Login" asp-action="Index">Inloggen</a>
        </div>


         <form id="Login_RegistrationForm" asp-controller="Login" asp-action="AttemptRegister" method="post">
         <label for="Username"></label>
            <input id="Username" class="Register_RegisterInput" type="text" name="pUsername" placeholder="Gebruikersnaam" @(TempData["pUsername"] != null ? $"value={TempData["pUsername"]}" : "") required maxlength="50"/>
         <br>
         <label for="Password"></label>
            <input id="Password" class="Register_RegisterInput" type="password" name="pPassword" placeholder="Wachtwoord" required />
         <br>
         <label for="Firstname"></label>
            <input id="Firstname" class="Register_RegisterInput" type="text" name="pFirstName" placeholder="Voornaam" @(TempData["pFirstName"] != null ? $"value={TempData["pFirstName"]}" : "") required maxlength="255"/>
         <br>
         <label for="Lastname"></label>
            <input id="Lastname" class="Register_RegisterInput" type="text" name="pLastName" placeholder="Achternaam" @(TempData["pLastName"] != null ? $"value={TempData["pLastName"]}" : "") required maxlength="255"/>
         <br>
         <label for="City"></label>
            <input id="City" class="Register_RegisterInput" type="text" name="pCity" placeholder="Plaats" @(TempData["pCity"] != null ? $"value={TempData["pCity"]}" : "") required maxlength="64"/>
         <br>
         <label for="Birthdate"></label>
            <input id="Birthdate" class="Register_RegisterInput" type="date" name="pBirthdate" @(TempData["pBirthdate"] != null ? $"value={((DateTime)TempData["pBirthdate"]!).ToString(format: "yyyy-MM-dd")}" : "") required />
         <br>
         <label for="Email"></label>
            <input id="Email" class="Register_RegisterInput" type="email" name="pEmail" placeholder="E-Mailadres" @(TempData["pEmail"] != null ? $"value={TempData["pEmail"]}" : "") required maxlength="255"/>
         <br>
            <input type="submit" value="Registreren" id="register-btn" />
        </form>
       

    </div>
</div>